<a href="https://colab.research.google.com/github/kavya2299/Python/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Arithmetic operations

In [0]:
# only integer values
print('addition')
print(34+56) 
print('subtraction')
print(56-6)
print(56-98)
print('multiplication')
print(3*67)
# same applies to float values

# every division results in a float result
print('division')
print(20/5)
print(23/3)
print(124/8) 
# to eliminate float, and to convert to integer, we use '//'
print('division without float')
print(24//5)
print(87//34)
# to get the remainder in the process of division, use mod(%)
print('only the remainders')
print(32 % 3)
print(24 % 5)

addition
90
subtraction
50
-42
multiplication
201
division
4.0
7.666666666666667
15.5
division without float
4
2
only the remainders
2
4

## Playing with strings

In [0]:
# note the changes made in each line to understand how the syntax affects the strings
print('my name is you know who')
print("jesus is mary's son")
print('"jesus" is the only son of mary')
print('jesus is mary\'s son')

# to concat two strings
print('taylor'+' '+'swift')
print('selena '*(10+8))

# to introduce a new line use \n
print('\ntina is beautiful\nread good books')
print('\a')

my name is you know who
jesus is mary's son
"jesus" is the only son of mary
jesus is mary's son
taylor swift
selena selena selena selena selena selena selena selena selena selena selena selena selena selena selena selena selena selena

tina is beautiful
read good books


## Variables

In [0]:
abc = 4
d = 5
print(abc*d)
print(abc+d)

20
9

In [0]:
name = "claudia loves ron"
print(name)
print(name[0])
print(len(name))
print(name[15])
print(name[-1])
print(name[-16])
print(name[0:10])
print(name[:6])
print(name[1:4])
print(name[9:10])

claudia loves ron
c
17
o
n
l
claudia lo
claudi
lau
o

In [0]:
# any variable is stored at a particular address
# for example, when we store 10 in a and then make b = a, we have the address of the variables a and b as the same
# similarly, any other variable which points to 10 will be having the same address, no different addresses will be allocated
a=10
b=a
k=10
print(id(a),id(b),id(10),id(k))
k=8
a=9
print(id(a),id(b),id(10),id(k))

10914784 10914784 10914784 10914784
10914752 10914784 10914784 10914720

### Data Types

In [0]:
print(type(a))
PI=3.14
print(type(PI))

# to convert from one data type to another
print(int(a))
print(float(a))
print(list(range(10)))

<class 'int'>
<class 'float'>
9
9.0
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Lists

In [0]:
nums = [12,34,5,5,5,5,5,5,6,7]
print(nums)
print(len(nums))
print(nums[3])
print(nums[-1])

names = ['john', 'kate', 'chandler', 'monica', 'ross', 'rachel', 'joey', 'phoebe']
print(len(names))
print(names[0])

combine = [nums,names]
print(combine)

nums.append(56)
copy = nums.copy()
print(nums.count(5))
#print(nums.extend())
print(nums.index(6))
nums.insert(3,77)
print(nums)
print(nums.pop(8))
nums.remove(34)
print(nums)
nums.reverse()
nums.sort()
print(nums)
nums.extend([1,2,3,45])
print(nums)
print(copy)
min(nums)
max(nums)
sum(nums)
copy.sort()
if (nums!=copy):
  print('yes')
del nums[6:]

[12, 34, 5, 5, 5, 5, 5, 5, 6, 7]
10
5
7
8
john
[[12, 34, 5, 5, 5, 5, 5, 5, 6, 7], ['john', 'kate', 'chandler', 'monica', 'ross', 'rachel', 'joey', 'phoebe']]
6
8
[12, 34, 5, 77, 5, 5, 5, 5, 5, 6, 7, 56]
5
[12, 5, 77, 5, 5, 5, 5, 6, 7, 56]
[5, 5, 5, 5, 5, 6, 7, 12, 56, 77]
[5, 5, 5, 5, 5, 6, 7, 12, 56, 77, 1, 2, 3, 45]
[12, 34, 5, 5, 5, 5, 5, 5, 6, 7, 56]
yes

## Tuples and Sets

* Tuples are immutable whereas lists are mutable.
* hence, iterations are easier.

In [0]:
# tuples
tup = (1,2,34,55)
print(tup.count(34))
print(tup.index(34))

1
2

* no order in sets
* no redundancy, they're eliminated

In [0]:
# sets
s = {22,22,22,43,5}
print(s)

{43, 5, 22}

### Dictionary

In [0]:
data = {6:'Diana', 2:'Viola', 9:'Erica'}
print(data)
print(data[6])

print(data.get(2))
data1 = ['Irene', 'Sherlock', 'John']
data2 = ['Adler', 'Holmes', 'Watson']
data3 = dict(zip(data1,data2))
print(data3)

data = {'Movies':['Hollywood', 'Bollywood'], 'Songs': {'Jazz': 'Trumpet', 'Classical':'Tabla', 'Rap':'Beat boxing'}}
print(data['Movies'])
print(data['Songs']['Classical'])

{6: 'Diana', 2: 'Viola', 9: 'Erica'}
Diana
Viola
{'Irene': 'Adler', 'Sherlock': 'Holmes', 'John': 'Watson'}
['Hollywood', 'Bollywood']
Tabla

### Operators

In [0]:
# arithmetic operators(+,-,*,/,%,//)
# assignment operators
a = 4
b = 7
b+=a
print('1:',b)
b-=a
print('2:',b)
b*=a
print('3:',b)
b/=a
print('4:',b)
b//=a
print('5:',b)
b%=a
print('6:',b)

# unary operator
n = 7
n= -n
print(n)

# relational operators
a = 4
b = 7
print(a < b)
print(a > b)
print(a == b)
print(a!=b)

# logical operators
a = 4
b = 7
print(a<=5 and b<=10)
print(a<10 or b>=2)
print(not a)
print(a!=b)

# bitwise operators
a = 12
b = 13
print(a&b)
print(a|b)
print(a^b)
print(a<<2)
print(a>>2)

1: 11
2: 7
3: 28
4: 7.0
5: 1.0
6: 1.0
-7
True
False
False
True
True
True
False
True
12
13
1
48
3

### Inputting values

In [0]:
# any value we enter in input becomes a string
# hence, we need to convert it to a desired type
a = input("Enter a number:")
print(type(a))
a = int(a)
print(type(a))
b = int(input("Enter a 2nd number:"))
c = a+b
print(c)

# to evaluate an expression
a = eval(input("enter an expression:"))
print(a)

Enter a number:98
<class 'str'>
<class 'int'>
Enter a 2nd number:98
196
enter an expression:8+9*123/45+89
121.6

### Functions
* Pass by value(where the arguments passed are variables and the result of the fuction does not affect the addresses to the values)
* Pass by reference(where the arguments passed will point to the same address as before passing it through a function)
* Python does not come under either of them
* Different types of arguments can be passed:
  * Formal (those that are defined in a function)
  * Actual (those that are actually passed into a function)
    * Position(when each argument passed gets matched with the arguments in the definition of the function wrt their positions)
    * Keyworded arguments(when each argument passed is indicated by a keyword itself)
    * Default(when one or few of the arguments are not passed at all but they are assigned a default value in the formal arguments)
    * Variable-length(when more arguments are inserted when calling a function, they will get recognized only if there is a '*' mentioned before that particular argument(usually 2nd) in the formal definition
    * Keyworded variable-length(kwargs-this means that we can get a properly listed out dictionary instead of just a tuple in the previous case

In [0]:
def fibo_seq(n):
  
  a = 0
  b = 1
  
  if n==1:
    print (a)
  elif n==2:
    print(a)
    print(b)
  else:
    print(a)
    print(b)

    for i in range(2,n):
      c = a+b
      print(c)
      a = b
      b = c 
      i+=1
fibo_seq(24)

In [0]:
def fibo_series(n):
  a = 0
  b = 1
  sum = 0
  if n==1:
    sum = sum+a
  elif n==2:
    sum = sum+a+b
  else:
    sum = a+b
    for i in range(2,n):
      c = a+b
      sum = sum+(c)
      a = b
      b = c
      i+=1
  fibo_seq(n)    
  print("sum of these",n,"terms is:", sum)      

fibo_series(20)

In [0]:
fac = 1
n = int(input())
i = 1
while(i<n):
  fac = fac*(i+1)
  i+=1
print(fac)

3
6

In [0]:
def fact(n):
  if n==0 or n==1:
    fac = 1
  else:
    fac = 1
    i = 1
    while(i<n):
      fac = fac*(i+1)
      i+=1  
  print(n,"! =",fac)    
fact(5)

5 ! = 120

In [7]:
# fibo(1) = 0
# fibo(2) = 1
# fibo(3) = fibo(1) + fibo(2)
# :       :   :     :   :
# fibo(n) = fibo(n-1)+fibo(n-2)
# sum (n) = fibo(n)+fibo(n-1)+

def fibo(n):
  a = 0
  b = 1
  if n==1:
    return a
  elif n==2:
    return b
    
  else:
    return (fibo(n-1)+fibo(n-2))
   

fibo(33)

2178309

In [10]:
import sys
lim = sys.getrecursionlimit()
print(lim)
new = sys.setrecursionlimit(9000)
lim = sys.getrecursionlimit()
print(lim)

9000
9000

In [16]:
def fact_calc(n):
  if n==0:
    return 1

  return n*fact_calc(n-1)
  
result = fact_calc(10)  
print(result)

3628800

### Modules
```
__name__ = __main__ (if the module running is the first code to run)
__name__ = name of the module itself(if the module being called is imported in another module)     
```
but if we do not want to print anything in that module: then, we put in a function and will be called only when executed with the help of an 'if'

```
if(__name__=="__main__"):
  call that module;
```

### Object Oriented Programming
* Class
  * What properties would a specific set of objects that belong to the class possess
  * Attributes described by variables
  * Behaviour described by functions, which are called by the name, methods here
* Objects 
  * they are called instances and they possess every attribute of a class

```
class comp:
  def config(self):  # self is the object itself 
    < ..... >

# creating objects as a part of the comp() class
comp1 = comp()
comp2 = comp()  

# type of the object
print(type(comp1)) # this would give us <class '__main__.comp'> if we use the current code block to run the code

# to call a method of a class
comp.config(comp1)
# this way, we are calling the method by parametrizing the object
# or else, we can use the method this way
comp1.config()

# comp() is the constructor

```
* __init__ is a special method which when used need not be called but gets executed for every object that is created
* to accept any number of parameters, we must use the same number of parameters in __init__ where self is an automatically considered parameter
* and we accept the parameters using self.parameter in order to access it as self.parameter anywhere else within the class
* the objects are allocated in a heap memory, where each object has a designated space
* the size of an object is decided by the no of variables and the size of the variables
* a constructor is what decides how much space is allocated for the objects
* whenever a method is used with a 'self' parameter passed, then that particular method operates on the object that is used

In [10]:
class Car:
  wheels = 4

  def __init__(self, model, year):
    self.model = model
    self.launch = year

  def model(self):
    print("the model of the car is:",self.model, "and it began in the year", self.launched)  
  
  def update(self, value):
    self.model = value

  def compare(self,other):
    if self.model == other.model:
      return True
    else:
      return False

# creating objects
c1 = Car("Tata", 1950)
c2 = Car("Toyota", 1970)

print(c1.model)
print(c2.launch)

Car.wheels = 5 # this is an instance variable

Car.update(c1, "Benz")
print(c1.model)
Car.update(c2, "Benz")
print(c2.model)

if (c1.compare(c2)):
  print("the two cars belong to the same model")

Tata
1970
Benz
Benz
the two cars belong to the same model